@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body {
  background: #fff7ee;
  margin: 0;
}
h1,h2,h3,h4,a,p,li {
  color: #000000;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}